
.bookingUser{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-left: 20px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
}

.memberName{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
}

.bookingContent{
    display: flex;
    width: 980px;
    height: 200px;
    margin-top: 35px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

.bookingImgContainer{
    flex: none;
    width: 266px;
}

.bookingImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookingScheduleContainer{
    flex: auto;
    height: 170px;
    margin-left: 22px;
    position: relative;
}

.bookingSite{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #448899;
}

.bookingDates{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin-top: 30px;
}

.bookingTime, .bookingFees, .bookingAddress{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
}

.delete{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.memberContactInfomation{
    width: 980px;
    margin-top: 40px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

.informationTitle{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
}

.contactInfo{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    margin-top: 31px;
}

.InfoBar{
    width: 200px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
}

.contactReminder{
    margin-top: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.creditcardInfomation{
    width: 980px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
}

.creditcardTitle{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-bottom: 30px;
}

.creditInfo{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
}

.priceAndOrder{
    width:980px;
    height: 100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.totalPrice{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    text-align: end;
}

.orderBtn{
    float: right;
    width: 173px;
    height: 36px;
    margin-top: 25px;
    background: #448899;
    border-radius: 5px;
    border: 0px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

/* 金流 */
.tpfield {
    height: 40px;
    width: 200px;
    border: 1px solid gray;
    margin: 5px 0;
    /* padding: 5px; */
    flex-wrap: nowrap;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
}

@media(max-width:1105px){
    .bookingUser, .bookingContent, .notBookingContent, .memberContactInfomation, .creditcardInfomation, .priceAndOrder{
        width: 95%;
    }
}

@media(max-width:650px){
    .bookingContent, .notBookingContent{
        width: 340px;
        height: auto;
        flex-wrap: wrap;
        
    }

    .bookingImgContainer{
        width: 340px;
        height: 256px;
    }

    .bookingScheduleContainer{
        margin-top: 15px;
        height: 200px;
    }

    .delete{
        top: 200px;
    }
}