body{
    margin: 0;
}

.navContainer{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #FFFFFF;
}

.nav{
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 54px;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    z-index: inherit;
}

.title{
    flex: none;
    width: 150px;
    height: 34px;
    line-height: 34px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #448899;
}

.nav-item{
    flex: auto;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 34px;
    text-align: end;
}

.item{
    flex: none;
    line-height: 34px;
    margin-left: 20px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #666666;
}

.headerContainer{
    position: relative;
    margin-top: 54px;
    background: url(../image/welcome.png);
    background-size: cover;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
}

.slogan-1{
    flex: none;
    position: absolute;
    top: 85px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
}

.slogan-2{
    flex: none;
    position: absolute;
    top: 141px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #F8F8F8;
}

.search{
    flex: none;
    position: absolute;
    top: 188px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    z-index: 10;
}

.searchBar{
    flex: none;
}

.searchIcon{
    flex: none;
}

.inputBar{
    width: 400px;
    height: 46px;
    background: #FFFFFF;
    border: 0px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding-left: 15px;
}

.icon{
    width: 60px;
    height: 46px;
    background: url(../image/icon_search.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #448899;
    cursor: pointer;
}

.container{
    display: grid;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    grid-template-columns: repeat(4, 270px);
    column-gap: 30px;
    row-gap: 30px;
    z-index: 3;
}

.siteinfo{
    position: relative;
    border: 1px solid #D0D0D0;
    cursor: pointer;
}

.site{
    position: relative;
    height: 197px;
    overflow: hidden;
}

.sitePic{
    width: 270px;
    height: 197px;
}

.siteName{
    position: absolute;
    bottom: 0;
    background: rgb(0,0,0);
    background: rgb(0,0,0,0.6);
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.name{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
}

.description{
    display: flex;
    width: 90%;
    height: 45px;
    line-height: 45px;
    background: #FFFFFF;
    justify-content: space-between;
    padding-left: 10px;
}

.mrt, .cat{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
}

.err{
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.overlapping{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
}

.itemsContainer{
    display:none;
    flex: none;
    width: 1200px;
    position:absolute;
    top: 230px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

#itemContainer{
    display: grid;
    width: 400px;
    height: 162px;
    grid-template-columns: repeat(3, 100px);
    gap: 10px 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #aabbcc;
    align-items: center;
}

.selectItem{
    width: 90px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    text-align:center
}

.selectItem:hover, .selectItem:active{
    width: 90px;
    height: 40px;
    background: #E8E8E8;
    border-radius: 5px;
}

.dropdownContent span{
    display: block;
}

.footer{
    display: flex;
    height: 104px;
    justify-content: center;
    background: #757575;
    margin-top: 30px;
}

.footerContent{
    flex: none;
    line-height: 104px; 
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

/* attraction 頁面 */
.booking{
    display: flex;
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 91px;
    margin-bottom: 37px;
    justify-content: center;
    align-content: center;
}

.carousel{
    flex: none;
    width: 540px;
    height: 406px;
    margin-right: 30px;
    position: relative;
}

.carouselPic{
    width:540px;
    height: 406px;
    object-fit: cover;
    z-index: 0;
}

.leftArrow{
    position: absolute;
    top: 185px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.rightArrow{
    position: absolute;
    top: 185px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    user-select: none; 
}

.dotCircle{
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    justify-content: center;
}

.dot{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
}

.bookingContainer{
    flex: none;
    width:600px;
}

.carouselName{
    height: 33px;
    margin-bottom: 15px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #666666;
}

.carouselDescript{
    height: 22px;
    margin-bottom: 20px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
}

.carouselCategory{
    padding-right:5px;
}

.carouselMrt{
    padding-left: 5px;
}

.carouselBooking{
    height: 302px;
    background: #E8E8E8;
    border-radius: 5px;
}

.bookingHeader{
    height: 22px;
    line-height: 22px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.bookingInfo{
    width: 560px;
    height: 24px;
    line-height: 24px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
}

.dateLabel{
    width: 81px;
    height: 17px;
    line-height: 17px;
    margin-top: 24px;
    margin-left: 20px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.dates{
    width: 193px;
    height: 35px;
    line-height: 35px;
    margin-top: 15px;
    padding-left: 5px;
    background: #FFFFFF;
    border: 0px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.choosingTimeTitle{
    width: 81px;
    height: 22px;
    line-height: 22px;
    margin-top: 17px;
    margin-left: 20px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

#morning, #afternoon{
    width: 18px;
    height: 18px;
    margin-left: 12px;
    margin-right: 6px;
    margin-top: 17px;
    background: #448899;
    color: #448899;
}

/*changing input radio color*/
input[name="periodTime"]{
    accent-color: #448899;
}

.choosingTime{
    width: 48px;
    height: 14px;
    margin-left: 3px;
    margin-right: 10px;
    margin-top: 17px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
}

.bookingFee{
    margin-top: 15px;
    margin-left: 20px;
}

.feeTitle{
    width: 81px;
    height: 22px;
    line-height: 22px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.fee{
    width: 108px;
    height: 14px;
    line-height: 14px;
    margin-left: 5px;
}

.bookingBtn{
    width: 154px;
    height: 36px;
    line-height: 36px;
    margin-top: 25px;
    margin-left: 20px;
    text-align: center;
    background: #448899;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
}


.dividingLine{
    width:1200px; 
    margin-left:auto; 
    margin-right:auto;
}

.siteDetail{
    width: 1200px;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 50px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #666666;
}

.siteAddressInfo{
    width: 1200px;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 20px;
}

.addressTitle{
    height: 32px;
    line-height: 32px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.address{
    height: 24px;
    line-height: 24px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.trafficInfo{
    width: 1200px;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 120px;
}

.transportation{
    height: 32px;
    line-height: 32px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.mrtInfo{
    height: 48px;
    line-height: 25px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

/* 會員登入 or 註冊 */
.memberblock{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background: #000000;
    opacity: 0.25;
    z-index: 11;
    display:none;/*點登入或註冊 改為visible*/
}

.memberContainer{
    display: none;
    width: 340px;
    height: 285px;
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    text-align: center;
}

.memberPrefix{
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0px 0px;
}

.memberTitle{
    /* flex: none; */
    width: 340px;;
    text-align: center;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #666666;
    padding-top: 5px;
}

.closeImg{
    float: right;/*圖片靠右*/
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-top: 7px;
    margin-right: 7px;
}

.memberBox{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background: #FFFFFF;
}
.memberBoxUsername{
    display: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background: #FFFFFF;
}

.memberInputBar{
    width: 310px;
    height: 47px;
    border: 0px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding-left: 5px;
    color: #757575;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.memberBtn{
    width: 320px;
    height: 47px;
    line-height: 47px;
    background: #448899;
    border-radius: 5px;
    border: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

.memberStatus{
    width: 310px;
    height: 22px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}

@media(max-width: 1230px){
    .nav, .slogan-1, .slogan-2, .search, .itemsContainer{width: 90%}

    .container{
        width: 90%;
        grid-template-columns: repeat(auto-fill,minmax(270px, auto));
    }

    .sitePic{
        width: 100%; 
        object-fit: cover;
    }

    /*attraction page*/
    .booking{
        width: 95%;
        height: 100%;
    }

    .carousel{
        flex: auto;
        width: 95%;
        height: 388px;
    }

    .carouselPic{
        width: 100%;
        height: 388px;
        object-fit: cover;
    }

    .bookingContainer{
        flex: auto;
        width: 95%;
        height: 100%;
    }

    .carouselBooking{
        width: 100%;
        height: 298px;
    }

    .bookingInfo{
        width: 95%;
        line-height: 28px;
    }
    
    .carouselName, .carouselDescript, .bookingHeader, .bookingFee{
        width: 95%;
    }

    .mrtInfo{
        width: 95%;
        height: 100%;
    }

    .dividingLine, .siteDetail, .siteAddressInfo, .addressTitle, .address, .trafficInfo, .transportation{
        width: 95%;
    }
    
}

@media(max-width:900px){
    .bookingInfo{
        width: 90%;
        height: 48px;
    }
    
}

@media(max-width: 720px){
    .booking{
        width: 95%;
        flex-wrap: wrap;
        margin-top: 0px;
    }

    .bookingContainer{
        margin-top: 20px;
    }

    .carousel{
        margin: auto;
    }
}

@media(max-width: 640px){
    .itemsContainer{width: 90%}

    .inputBar{width: 230px;}

    .searchIcon{width: 60px;}

    #itemContainer{width: 322px;}

    .selectItem{
        width: 60px;
    }

    .selectItem:hover, .selectItem:active{
        width: 60px;
    }

    .container{
        grid-template-columns: 270px;
        justify-content: center;
    }
}