/* message dialog window */
.messageContainer{
    width: 340px;
    height: 150px;
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    text-align: center;
}

.messagePrefix{
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0px 0px;
}

.messageContent{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #666666;
    line-height: 150px;
}