<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="/css/layout.css"/>
        <link rel="stylesheet" type="text/css" href="/css/booking.css"/>
        <script src="/javascript/commonTemplate.js" defer></script>
        <script src="/javascript/common.js" defer></script>
        <script src="/javascript/booking.js" defer></script>
        <title>台北一日遊</title>
    </head>
    <body onload="getUserData();">
        <div class="bookingUser"></div>
        <div class="bookingContent"></div>
    </body>
</html>