<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="layout.css"/>
        <script src="/app.js" defer></script>
        <title>台北一日遊</title>
    </head>
    <body>
        <div class="navContainer" >
            <div class="nav">
                <div class="title">台北一日遊</div>
                <div class="nav-item">
                    <div class="item">預定行程</div>
                    <div class="item">登入/註冊</div>
                </div>
            </div>
        </div>

        <div class="headerContainer" >
            <div class="slogan-1">輕鬆享受台北一日悠閒</div>
            <div class="slogan-2">探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="search">
                <div class="searchBar"><input onclick="showMenu();" class="inputBar" placeholder="輸入景點名稱查詢"></div>
                <div class="searchIcon" onclick="search();"><img class="icon"/></div>
            </div>
            
        </div>
        <!-- 透明層 用途: 點擊選項以外區域 透過JS關閉選項 -->
        <div class="overlapping" onclick="overMenu();"></div>
        <div class="container"></div>
        <div class="footer"><div class="footerContent">COPYRIGHT @ 2022 台北一日遊</div></div>

    </body>
</html>
