<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="/css/layout.css"/>
        <link rel="stylesheet" type="text/css" href="/css/loginSignup.css"/>
        <link rel="stylesheet" type="text/css" href="/css/membership.css"/>
        <script src="/javascript/createTemplate.js" defer></script>
        <!-- <script src="/javascript/index.js" defer></script> -->
        <script src="/javascript/commonUseUtils.js" defer></script>
        <script src="/javascript/membership.js" defer></script>
        <title>台北一日遊 | 會員中心</title>
    </head>
    <body>
        <div class="membersInfoContainers">
            <!-- <div class="memberInfo" id="memberName">姓名</div>
            <div class="memberInfo" id="memberEmail">電子郵件</div> -->
        </div>
        <!-- <div class="ordersHistoryContainer">
            <div >訂單編號</div>
            <div >景點名稱</div>
            <div >景點地址</div>
            <div >旅遊日期</div>
            <div >旅遊時間</div>
            <div >旅遊費用</div>
            <div >付款狀態</div>
        </div> -->
        <!-- <div class="backgroundForMember"></div>
        <div class="membershipsContainer">
            <div class="memberships">
                <div class="historyOrder">歷史訂單</div>
                <div class="memberLogout">登出</div>
            </div>
        </div> -->

        <div class="forFooter"></div>
    </body>
</html>