<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="/css/layout.css"/>
        <link rel="stylesheet" type="text/css" href="/css/loginSignup.css"/>
        <link rel="stylesheet" type="text/css" href="/css/thankyou.css"/>
        <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
        <script src="/javascript/createTemplate.js" defer></script>
        <script src="/javascript/booking.js" defer></script>
        <script src="/javascript/commonUseUtils.js" defer></script>
        <script src="/javascript/thankyou.js" defer></script>
        <title>台北一日遊 | 完成訂購</title>
    </head>
    <body>
        <div class="orderedInfoContainer">
            <div class="order" id="pageTitle"></div>
            <div class="order" id="number"></div>
            <div class="order" id="siteName"></div>
            <div class="order" id="siteAddress"></div>
            <div class="order" id="tripDate"></div>
            <div class="order" id="tripTime"></div>
        </div>
    </body>
</html>